{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="mb-4">Réinitialiser votre mot de passe</h1>

    <p class="mb-3">
        Saisissez le Nom d'utilisateur associée à votre compte. Nous vous enverrons un lien pour réinitialiser votre mot de passe.
    </p>

    {{ form_start(requestForm) }}
        <div class="mb-3">
            {{ form_row(requestForm.username) }}
        </div>
        <button class="btn btn-lg btn-primary w-100 mt-3">Envoyer le username</button>
    {{ form_end(requestForm) }}

    <p class="mt-4 text-center">
        <a href="{{ path('app_login') }}" class="text-decoration-none">
            Retour à la page de connexion
        </a>
    </p>
{% endblock %}
